.create-form {
    border: 1px solid #000;
    margin: 0 50px;
}

.create-form > .inputs, .form-item {
    display: flex;
}

.create-form > .inputs > .column {
    margin: 20px;
    width: 33%;
}

.create-form .form-item > .column-left {
    width: 25%;
}

.create-form .form-item > .column-right {
    width: 75%;
}

.create-form > .buttons {
    margin: 0 auto;
}

.create-form textarea {
    resize: none;
}

.card-image {
    height: 250px;
}